
/* Magento css */
#mypa-slider{
    max-height: 435px;
}

#mypa-location-selector {
    height: 278px;
}


/* START opc_index_index (IWD) */
.opc-wrapper-opc label.mypa-tab span,
.opc-wrapper-opc .mypa-delivery-header b,
.opc-wrapper-opc .mypa-delivery-header span {
    color: #ffffff;
}

.opc-wrapper-opc #mypa-delivery-body .mypa-row-title {
    padding-left: 0;
}

.opc-wrapper-opc .mypa-row-subitem {
    margin-left: 15px;
}

.opc-wrapper-opc .mypa-price {
    margin-right: 0;
}

.opc-wrapper-opc input[name=mypa-delivery-type]:checked ~ div.mypa-content-lg {
    max-height: 210px;
}

.opc-wrapper-opc .mypa-slider label {
    margin-bottom: 0;
}

.opc-wrapper-opc #mypa-location-selector {
    height: 302px;
}
/* END opc_index_index (IWD) */