

.mp_checkout {
    width: 100%;
}


.mp-radio, .mp-radio-small {
    float: left;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 30px;
    height: 30px;
    background: grey;
}

.mp-radio-small{
    width: 20px;
    height: 20px;
}

.mp-radio.mp-active:after, .mp-radio-small.mp-active:after {
    content: "\2714";
    color: white;
    font-size: 20px;
    margin-left: 7px;
}

.mp-radio-small.mp-active:after {
    font-size: 13px;
    margin-left: 5px;
}

.mp-radio.mp-radio-open:after {
    content: "▼";
    color: white;
    font-size: 20px;
    margin-left: 5px;
}

.mp-methods-delivery li:hover .mp-radio, .mp-method-options li:hover .mp-radio-small {
    background: #626262;
}

.mp-active, .mp-bar li:hover {
    background-color: #ff8c00 !important;
}


.mp-bar {
    height: 28px;
    position: relative;
    width: 100%;
}

.mp-bar li {
    background-color: #7f7f7f;
    cursor: pointer;
    float: left;
    color: white;
    width: 25%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.mp-bar .mp-day-holder {
    padding: 5px 10px;
    text-align: center;
}

.mp-methods {
    width: 100%;
}

.mp-methods-delivery {
    padding: 20px 15%;
}

.mp-methods-delivery li {
    cursor: pointer;
    margin-top: 5px;
}

.mp-method-item {
    height: 35px;
    margin-top: 5px;
}

.mp-methods-delivery .mp-method-title-moment {
    font-size: large;
    margin-left: 10px;
}

.mp-methods-delivery .mp-method-title-price {
    font-size: small;
}


.mp-method-title {
    float: left;
    line-height: 1.8;
}

.mp-method-time {
    float: right;
    font-size: small;
    line-height: 3;
}

.mp-method-options {
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.15);
}

.mp-method-option-title-holder {
    height: 25px;
}

.mp-method-options .mp-method-option-title {
    margin-left: 10px;
}




/*
.mp-bar{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.mp-bar > p{
    font-size: 14px;
    margin: 0;
}

.mp-error-message {
    background: #fa684b;
    border: 1px solid #dd6a3d;
}

.mp-error-message > p {
    color: #333;
}
*/






/**
Media queries for responsive theme's
*/

@media only screen and (min-width: 0px) and (max-width: 679px) {
    #myparcel_overlay #overlay_window {  height: 80%;  left: 10%;  position: fixed;  top: 10%;  width: 80%;  }
}

@media only screen and (min-width: 680px) and (max-width: 1024px){
    #myparcel_overlay #overlay_window {  height: 80%;  left: 50%;  position: fixed;  top: 10%;  width: 500px;  margin-left:-250px;  }
}

@media only screen and (min-width : 1024px) {
    #myparcel_overlay #overlay_window {  height: 80%;  left: 50%;  position: fixed;  top: 10%;  width: 500px;  margin-left:-250px;  }
}

body.overlay_open{
    overflow:hidden;
}
