/* General */
#tig_myparcel_myparcel_support p,
#tig_myparcel_myparcel_support ul,
#tig_myparcel_myparcel_support ol { padding:6px 0 10px;  }
#tig_myparcel_myparcel_support ul.myparcel-config-warning {list-style:disc inside none; }
#tig_myparcel_myparcel_support ol { list-style:decimal inside; }
#tig_myparcel_myparcel_support ol ol { list-style:lower-alpha inside; padding:0 0 10px 12px; }
#tig_myparcel_myparcel_support ul ul { list-style:none; padding:0 0 10px 12px; }
#tig_myparcel_myparcel_support h2.content-heading { color:#ea7601; border-bottom:4px solid #dfdfdf; }
#tig_myparcel_myparcel_support h4,
#tig_myparcel_myparcel_support p { margin:0;}
#tig_myparcel_myparcel_support a.pdf { display:inline-block; height:16px; line-height:16px; padding:0 0 0 21px; background:url(../../../images/TIG/MyParcel2014/glyph_pdf.png) no-repeat; }
#tig_myparcel_myparcel_support a.link { display: inline-block; height: 16px; line-height: 16px; padding: 0 0 0 21px; background:url(../../../images/btn_go.gif) no-repeat 0 40%; }
#tig_myparcel_myparcel_support .text-box { background:#fff; padding:9px 16px; margin:6px 0 10px; border:1px solid #ccc; }
#tig_myparcel_myparcel_support table.contact { margin:0 0 25px -1px; }
#tig_myparcel_myparcel_support table.contact td { padding:0; width:110px; }
#tig_myparcel_myparcel_support table.contact td.first {  padding-right:5px; }
#tig_myparcel_myparcel_support table.tig td a.logo_image { margin-left:10px; }
#tig_myparcel_myparcel_support table.tig td a.logo_image img {width:45px;}

/* Legend */
#tig_myparcel_myparcel_support #legend li { background:url(../../../images/TIG/MyParcel2014/legend.gif) 0 0 no-repeat; padding-left:14px;  }
#tig_myparcel_myparcel_support #legend li.disabled { background-position:0 4px; }
#tig_myparcel_myparcel_support #legend li.test { background-position:0 -25px; }
#tig_myparcel_myparcel_support #legend li.live { background-position:0 -54px; }
#tig_myparcel_myparcel_support #legend li.advanced { background-position:0 -83px; }

/* Structure */
#tig_myparcel_myparcel_support .form-list,
#tig_myparcel_myparcel_support #supportWrap { width:100% !important; }
#tig_myparcel_myparcel_support #supportWrap .col-left,
#tig_myparcel_myparcel_support #supportWrap .col-right { width:50%; }
#tig_myparcel_myparcel_support #supportWrap .col-faux { padding:0 5px;  }

/* Config Header */
.content-header h3 { background:transparent url(../../../images/TIG/MyParcel2014/logo_myparcel_38.png) 0 0 no-repeat !important; height:38px; padding-left:44px; line-height:38px; }
