#system_config_tabs .tig_myparcel-tab { background:transparent url(../../../images/TIG/MyParcel2014/logo_myparcel_19.png) 18px 3px no-repeat !important; display:block; }
#system_config_tabs .tig_myparcel-tab:hover { background-color:#d8e6e6 !important; border-right:1px solid #8aa5a6; }
#system_config_tabs .tig_myparcel-tab.active { background-color:#fff !important; border-right:none !important; }
#system_config_tabs .tig_myparcel-tab span { padding-left:44px; display:block; }
#system_config_tabs .tig_myparcel-tab.active span { background:none; }


ul#tabButtons {
    height: 28px;
    background: #e6e6e6;
    border: 1px solid #d6d6d6;
}

ul#tabButtons li {
    display: inline-block;
}

ul#tabButtons li a {
    display: block;
    line-height: 28px;
    padding: 0 15px;
    color: #2f2f2f;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

ul#tabButtons li.active a {
    background-color: #6f8992;
    color: white;
    cursor: default;
}